@font-face{
    font-family: 'JetBrainsMono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body {
    background-color: #2e2e2e;
    background-image: url('static/icons/ring.svg');
    background-position: center
}
#logo {
    height: 35vh;
    width: auto;
    margin-bottom: 0px;
    margin: auto;
    padding: 0 3vw;
}
#headline {
    margin-top: 0px;
    font-family: 'JetBrainsMono';
    font-weight: bolder;
    background: linear-gradient(90deg, rgba(18,53,135,1) 0%, rgba(24,180,177,1) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 15px rgba(24,180,177,.4);
    font-size: 8vh;
    text-align: center;
    padding: 0 3vw;
}
#center {
    margin: auto;
    min-width: min-content;
    width: 50vw;
    padding: 10px;
    background-color: #2e2e2e;
    box-shadow: 10px 5px 50px #1d1d1d;
    text-align: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    position: absolute;
}
.img-container {
    text-align: center;
    display: block;
}