<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.Params.icons }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.Params.icons }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.Params.icons }}/favicon-16x16.png">
    <link rel="manifest" href="{{ .Site.Params.icons }}/site.webmanifest">
    <link rel="mask-icon" href="{{ .Site.Params.icons }}/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{ .Site.Params.icons }}/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="{{ .Site.Params.ShortTitle }}">
    <meta name="application-name" content="{{ .Site.Params.ShortTitle }}">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="{{ .Site.Params.icons }}/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    
</body>
</html>