---
import Header from "../components/header.svelte";
import Footer from "../components/footer.svelte";
import Cover from "../components/cover.svelte";
---

<!-- website: Novao Technology's website, written with SvelteKit.
	Copyright (C) 2022  Judah Brown, on behalf of Novao Technology

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <https://www.gnu.org/licenses/>. -->
<head>
	<title>Novao Technology</title>
	<meta
		name="description"
		content="Novao Technology is a FOSS company developing open products for the world."
	/>
	<meta property="og:title" content="Novao Technology" />
	<meta
		property="og:description"
		content="Novao Technology is a FOSS company developing open products for the world."
	/>
	<meta property="og:image" content="/thumb.png" />
	<link rel="icon" href="/favicon.svg" />
</head>
<body>
	<div id="header">
		<Header />
	</div>
	<Cover inner="<span>we are novao.</span>" />
	<div id="content">
		<div class="section">
			<h1>
				<span class="highlight"
					><i class="fa-solid fa-door-open"></i></span
				>
			</h1>
			<h1>Our Code is <span class="mobileHighlight">Open</span></h1>
			<p>
				Open code is essential to technology. Access to source code
				allows for products to be more secure, and it allows anyone to
				improve and audit the infrastructure running our lives and the
				world.
			</p>
		</div>
		<div class="section">
			<h1>
				<span class="highlight"><i class="fa-solid fa-lock"></i></span>
			</h1>
			<h1><span class="mobileHighlight">Privacy</span> is a Right</h1>
			<p>
				We strongly affirm that privacy is a fundamental right that
				everyone should be granted from the get-go. It should be by
				one's own decision that their privacy is disregarded.
			</p>
		</div>
		<div class="section">
			<h1>
				<span class="highlight"><i class="fa-solid fa-flag"></i></span>
			</h1>
			<h1>We Believe in <span class="mobileHighlight">Freedom</span></h1>
			<p>
				Everyone, from developers to users, have fundamental freedoms
				that must be granted. Through open-source licenses and copyleft
				agreements, we can create this ideal world where all have these
				rights.
			</p>
		</div>
		<div class="section">
			<h1>We're <span class="highlight"> novao</span></h1>
			<p class="endpara">
				A FOSS company developing open products for the world.
			</p>
		</div>
	</div>

	<Footer />
</body>

<style>
	@media (prefers-color-scheme: dark) {
		:root {
			--body-background-color: #1d1d1d;
		}
	}
	@media (prefers-color-scheme: light) {
		:root {
			--body-background-color: #efefee;
		}
	}
	body {
		background-color: var(--body-background-color);
		overflow-x: hidden;
	}
	* {
		margin: 0;
		padding: 0;
	}
	@media (prefers-color-scheme: dark) {
		:root {
			--text-color: #d0d0d0;
		}
	}
	@media (prefers-color-scheme: light) {
		:root {
			--nav-background-color: #ffffff;
			--text-color: #2e2e2e;
		}
	}
	@media only screen and (max-width: 700px) {
		#content {
			margin-left: 10vw;
			margin-right: 10vw;
			width: 80vw;
		}
		i {
			display: none;
		}
		.mobileHighlight {
			color: none;
			background: linear-gradient(
				90deg,
				rgba(18, 53, 135, 1) 0%,
				rgba(24, 180, 177, 1) 75%
			);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	@media only screen and (min-width: 700px) {
		#content {
			margin-left: 20vw;
			margin-right: 20vw;
			width: 60vw;
		}
	}
	h1 {
		font-family: "JetBrains Mono";
		padding-top: 15px;
		color: var(--text-color);
		font-size: 7vh;
		text-align: center;
	}
	p {
		font-family: "JetBrains Mono";
		color: var(--text-color);
		font-size: 3vh;
		width: 100%;
	}
	.endpara {
		margin-bottom: 3vh;
	}
	#header {
		position: fixed;
		width: 100vw;
	}
	.highlight {
		color: none;
		background: linear-gradient(
			90deg,
			rgba(18, 53, 135, 1) 0%,
			rgba(24, 180, 177, 1) 75%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	#content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.section {
		width: 100vw;
		text-align: center;
	}
</style>
