<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="description"
            content="Novao Technology is a FOSS company developing open products for the world."
        />
        <script
            src="https://kit.fontawesome.com/48c43667e2.js"
            crossorigin="anonymous"></script>
        <link rel="icon" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            @media (prefers-color-scheme: dark) {
                :root {
                    --body-background-color: #1d1d1d;
                }
            }
            @media (prefers-color-scheme: light) {
                :root {
                    --body-background-color: #efefee;
                }
            }
            body {
                background-color: var(--body-background-color);
                overflow-x: hidden;
            }
            * {
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <slot />
    </body>
</html>
